.item-container {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
}

li.active {
    font-weight: bold;
}

#BottomBar {
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5%;
    padding-left: 5%;
}

#pager {
    margin-bottom: 0;
    padding-top: 0.5em
}

    #pager .page-link {
        background-color: lightgray;
        border: solid grey 1px;
        color: black;
    }

    #pager .page-item.active .page-link {
        background-color: grey;
    }

    #pager .page-item.disabled .page-link {
        color: gray;
    }

.directory {
    font-size: 1.5em;
}

#FileUpload > ul {
    display: none;
}

.imagePreview {
    max-width: 200px;
    max-height: 100px;
}

#dropZone {
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 5em;
}

#FileUpload > div.dotvvm-bp-file-upload_panel {
    margin: auto
}

.photoPreview {
    padding: 0;
}

    .photoPreview > div > input {
        position: absolute !important;
        right: 10px;
        top: 10px;
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
    }

.breadcrumb {
    margin-bottom: 0;
}

#checkAll {
    right: 0;
    position: absolute;
}
