.has-error input {
    border-color: red;
}

.has-error li {
    color: red;
}

.AlignRight {
    text-align: right;
}

.AlignLeft {
    text-align: left;
}

.AlignCenter {
    text-align: center;
}

.Title {
    font-weight: bold;
}

#Content {
    padding-top: 56px;
}
